.navigation-bar {
  display: flex;
  flex-direction: row; }

.navigation-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  width: 100%; }
